.movie-card {
    position: relative;
    background-color: #222;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    height: 350px;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.movie-card:hover img {
    transform: scale(1.05);

}

.movie-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.movie-card:hover .movie-title {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.movie-card:hover .movie-title {
    display: block;
}