
.carousel-container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    position: relative;
    height: 750px;
}

.carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    width: 50px;
    height: 50px;
}

* Стили для карусели */ .carousel-item {
    position: relative;
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.carousel-caption {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
}



.custom-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.custom-carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.custom-carousel-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.custom-carousel-image:hover {
    transform: scale(1.2);
}

.custom-carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.custom-carousel-left {
    left: 10px;
}

.custom-carousel-right {
    right: 10px;
}

.custom-carousel-container:hover .custom-carousel-arrow {
    display: block;
}


.carousel-item.active .carousel-caption {
    animation: slideUp 1s ease-in-out forwards;
    display: block;
}

.carousel-caption h3 {
    margin-bottom: 20px;
}

@keyframes slideUp {
    0% {
        bottom: -50px;
        opacity: 0;
    }

    100% {
        bottom: 20px;
        opacity: 1;
    }
}